html, body {
    height: 100%;
    min-height: 100%;
}

.bg {
    /*background: #4C9AD6; /* For browsers that do not support gradients */
    /*background: -webkit-radial-gradient(#3C569A, #163850, #163850); /* Safari 5.1 to 6.0 */
    /*background: -o-radial-gradient(#3C569A, #163850, #163850); /* For Opera 11.6 to 12.0 */
    /*background: -moz-radial-gradient(#3C569A, #163850, #163850); /* For Firefox 3.6 to 15 */
    /*background: radial-gradient(#3C569A, #163850, #163850); /* Standard syntax */
}
.container-fluid {
    padding: 0;
}

#googlemaps {
    min-height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
}

.height-100 {
    height: 100%;
    min-height: 100%;
}

.height-60 {
    height: 60%;
    min-height: 70vh;
}

.landing-register-btn {
    display: block;
    height: 100%;
    width: 100%;
    background-color: #163850;
    color: white;
    padding: 5px 20px 10px;
    border: none;
}

.landing-register-link {
    cursor: pointer;
    color: white;
}

.landing-register-link:hover {
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.spacer {
    margin-top: 50px;
}

.product-img {
    width: 100%;
    height: auto;
}
.green-circle {
    border: 0.2em solid green;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    text-align: center;
    line-height: 150px;
    background-color: #fff;
}

.green-circle span {
    width: 150px;
    line-height: 1.5em;
    display: inline-block;
    vertical-align: middle;
}

.items-background {
    background: url("../assets/img/landing/pattern-antebox-grey.png") repeat;
    background-size: 40%;
}

.landing-icon {
    height: 80px;
    width: auto;
}

.local-business-background {
    background: url("../assets/img/landing/local-business.png") no-repeat center center;
    background-size: cover;
    color: #fff;

}

.suggest-product-btn {
    display: block;
    background-color: #163850;
    color: white;
    padding: 5px 20px;
}

.plane-trans-background {
    background: url("../assets/img/landing/plane-trans.png") no-repeat;
    color: white;
}

.blue-triangle-background {
    background: url("../assets/img/freeze/bk-freeze.jpg") no-repeat;
    color: white;
}

.partner img {
    width: 100%;
}
.partner {
    padding: 30px;
}
.bottom-spacer {
    margin-bottom: 50px;
}

.footer-box {
    margin-top: 0;
}

.min-250 {
    min-height:250px;
}
